@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,800&display=swap');


body{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* nav section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 6.5rem ;
    margin-right: 4rem;
}
.logo{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.logo img{
    height: 1.5rem;
    width: 3rem;
}
.logo-text{
    font-size: 1.5rem;
    font-weight: 700;
}
.logo-text-color{
    color: #FF42A5;
}
nav ul{
    display: flex;
    align-items: center;
}
.follow-part{
    display: flex;
    align-items: center;
    background-color:  rgba(11, 2, 35, 0.10);
    border-radius: 8px;
    padding: 0 10px 0 10px;
    gap: 0.5rem;

}
nav li{
    list-style: none;
    margin-right: 2rem;
}
.follow-part-img{
    height: 1.5rem;
    width: 1.5rem;
}
.nav-para{
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

/* banner section */
.banner{
    background-image: url("../images/Group-14.png");
    background-repeat: no-repeat;
    background-size: 40rem 35rem;
    height: 35rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    
}
.banner-img{
    height: 35rem;
    width: 34rem;
    padding-right: 5rem;

}
.banner-text{
    padding: 0px 0px 0px 100px;
}

.banner-greeting{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
    margin-top: 0px;
}
.banner-text-goat{
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}
.banner-para{
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    display: flex;
    gap: 0.4rem;
}
.banner-para-img{
    height: 1.2rem;
    width: 1.2rem;
}
.banner-btn{
    margin-top: 2.5rem;

}
.banner-btn-sign{
    padding: 21px 40px;
    border-radius: 40px;
    border: none;
    color: white;
    background-color: #FF42A5;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-right: 0.7rem;
}
.banner-btn-Go{
    padding: 21px 40px;
    border-radius: 40px;
    border: none;
    background-color: #4EC5F7;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* gammer section */
.we-are-gamer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    height: 65vh;
    width: auto;

}
.gamer-img{
    height: 25rem;
    width: 40rem;
    margin-left: 5rem;
}
.gamer-text{
    text-align: right;
    margin-right: 5rem;

}
.gamer-greeting{
    font-size: 3rem;
    font-weight: 700;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px;
}
.gamer-para{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}
.gamer-btn{
    display: inline-flex;
    padding: 21px 40px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 40px;
    background-color: #FF42A5;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.gamer-para-footer{
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2.5rem;
    margin-top: 0px;
}
.gamer-footer-unleash{
    font-size: 24px;
    font-weight: 700;
}

/* online games secion */
.online-games{
    text-align: center;
    margin-right: 5rem;
    margin-left: 7rem;
    margin-top: 4rem;
    height: 70vh;
    width: auto;
}

.online-gamer-img{
    display: flex;
    gap: 2rem;
    text-align: left;
}
.online-img{
    height: 20rem;
    width: 16.5rem;
}
.online-greeting{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0px;
}
.online-greeting-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    font-weight: 700;
}
.online-para{
    color: #534C64;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    margin-bottom: 2rem;
}

/* play section */

.play{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5rem 5rem 5rem 15rem;
    height: 80%;
    width: auto;

}
.play-text{
    text-align: right;
}
.play-greeting{
    color: #0B0223;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3rem;
    margin-bottom: 0px;
}
.play-greeting-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.play-para{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.play-big-img{
    height: 29rem;
    width: 25rem;
}
.play-small-img{
    height: 14rem;
    width: 13rem;
    position: absolute;
    top: 17rem;
    left: -6rem;
}
.play-img{
    position: relative;
}

/*  selection button */
.selection{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    justify-content: center;
    padding: 3rem 10rem 3rem 10rem;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.selection-btn{
    border-radius: 2rem;
    text-align: center;
    color: #0B0223;
    font-size: 0.8rem;
    font-weight: 700;
    border: none;
    background-color: white;
    margin-right: 1.5rem;
    transition-duration: 0.3s;
    cursor: pointer;

}
.selection-img{
    height: 2.5rem;
    width: 2.5rem;
    vertical-align: middle;
    margin-right: 0.3rem;
}
.btn-row-1{
    margin-bottom: 1.5rem;
}

.selection-btn:hover{
    outline: #F948B2;
}

/* footer */
footer{
   background-color: #0B0223;
   color: white;
   height: 40vh;
   padding-top: 4rem;
}
footer li{
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
    margin-right: 3rem;
}
footer ul{
    display: flex;
    justify-content: center;
}
footer .logo{
    display: flex;
    justify-content: center;
}
footer p{
    display: flex;
    justify-content: center;
    color: rgba(255, 255, 255, 0.60);
    font-size: 0.8rem;
    font-weight: 500;
}
footer .footer-img{
    display: flex;
    justify-content: center;
}

.footer-btn{
    background-color: transparent;
    border: none;
    margin-right: 2rem;
}
.footer-icon{
    height: 2rem;
    width: 2rem;
}






/* media resposive */

@media  screen and (max-width: 576px) {
    
    nav, nav ul{
        flex-direction: column;
    }
    .follow-part{
        margin: 2rem;
    }
    .banner{
        flex-direction: column;
        padding-top: 5rem;
        background-color:white;
        
    }
    .banner-text{
        padding: 0px;

    }
    .banner-img{
        height: 15rem;
        width: 20rem;
        padding-top: 3rem;
        padding-left: 5rem;
        
    }
    .we-are-gamer{
        flex-direction: column;
    }
    .gamer-img{
        height: 30rem;
        width: 25rem;
        margin-left: 0px;
        margin-top: 130px;
    }
    .gamer-text{
        text-align: center;
        margin-right: 0px;
    }
    .online-games{
        flex-direction: column;
        margin-top: 13rem;
        padding: 0px;
    }
    .online-gamer-img{
        flex-direction: column;
    }
    .play{
        flex-direction: column;
        margin-top: 80rem;
        padding: 0 0 0 50px;
    }
    .play-big-img{
        height: 25rem;
        width: 17rem;
    }
    .play-text{
        display: inline;
        text-align: center;
    }
    .selection{
        margin-top: 10rem;
    }
    .btn-row-1{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    .btn-row-2{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}